    .box{
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        background-color: lightblue;
        border: 3px solid black;
        margin: 10px 5px 10px 5px;
        padding:10px;
        border-radius: 10px;
        
    }
    a{
        text-decoration: none;
    }
    .box a:hover{
        color: yellow
        ;
        border: 1px solid white;
        background-color: #42eded;
        padding: 5px;

    }
    .box a:active{
        color: red;
    }

.footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: grey;
    padding: 10px;
}
h3{
    color: white;
}
.mail{
    background-color: rgb(177, 177, 177);
    height: 40px;
    padding: 2px;
}
button{
    background-color: orange;
    height: 30px;
    border: 2px solid orange;  
}

/* h1{
        color: red;
        position: absolute;
        left: 500px;
        top: 500px;
    } */

    h1{
        color: green;
        position: fixed;
        left: 500px;
        top: 500px;
    }


/* contact us  */
        .contact{
            display: flex;
            justify-content: center;
        }
        .container{
            width: 420px;
            background-color: white;
            border: 1px solid none;
            border-radius: 10px;
            padding: 20px;
            border: 2px solid black ;
            margin: 10px;
        }
        .title{
            color: red;
            text-align: center;
        }
        .container input{
            width: 100%;
            height: 35px;
            margin-top: 8px;
            border-radius: 5px;
            border: 1px solid grey;
            padding: 5px;
        }
        .Submit{
            height: 40px;
            width: 300px;
            margin-top: 10px;
            border-radius: 8px;
            background-color: green;
            border: none;
            color: white;
            font-size: larger;
        }
        .Submit:active{
            background-color: red;
        }

@media screen and (max-width:768px){
    .content{
        color: #42eded;
        background-color: brown;
    }
}


