.container{
        display: flex;
        justify-content: space-between;
        height: 40px;
        background-color: aliceblue;
        border: 2px solid none;
        border-radius: 5px;
        font-size: 24px;
        align-items: center;
    }